// START STYLING HEADER
.l-header {
    width: 100%;
    background: $primary_clr;
    .nav_brand {
            width: 4rem;
            height: 4rem;
    
            img {
                width: 90%;
                height: 90%;
            }
        }
}

.lnk-space {
    margin-right: 1.2rem;
}
