// GLOBAL VARIABLES
// BACKGROUNDS & COLORS
$bg_clr: hsl(204,8%,95%);
//$primary_clr: hsl(222, 60%, 62%);
$primary_clr: #2686ed;
$secondary_clr: hsl(155, 54%, 66%);
$ftr_bg: hsl(210,9%,85%);

// FONTS
$rajdhani: 'Rajdhani', sans-serif;
$russOne: 'Russo One', sans-serif;